<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans">
<div class="booking-window"> 
  
    <div id="booking-title">
    <label for ="booking"> {{bookNextStay}} </label> 
    </div>

      <form class="form-group">
          <label for="name"> {{name}} </label>
          <input type="name" id="name;" name="name" required>

          <label for="email"> {{email}} </label>
          <input type="email" id="email;" name="email" required>

          <label for="tel"> {{telNumber}} </label>
          <input type="tel" id="tel;" name="tel" required>

          <label for="checkin"> {{checkIn}} </label>
          <input type="date" id="checkin" name="checkin" required>
      
          <label for="checkout"> {{checkOut}} </label>
          <input type="date" id="checkout" name="checkout" required>
      
          <label for="guests"> {{numOfGuests}} </label> <!--Change to dropdown menu to click nums?-->
          <input type="number" id="guests" name="guests" required>
      
          <label for="room-type"> {{roomType}} </label>
          <select id="room-type" name="room-type" required>
            <option *ngFor = "let room of rooms" [value] = "room">{{room}}</option>
          </select>
      </form>

    <div class="button_slide slide_right">Confirm Your Stay</div>
  </div>
