h2 {
    text-align: center;
    padding-top: 28px; 
    font-style: italic; 
}
.about-us {
    margin-top: 75px;
    background-color: #F8F0E3;

}

#body-1-descrip {
    text-align: left;
    width: 50%; 
} 
#body-2-descrip {
    width: 50%; 
}

h3 {
   text-align: center; 
}

.end {
    text-align: center; 
}
.container {
    display:flex; 
    justify-content: center;
    align-items: center;
}
