
h2 {
    text-align: center;
    padding-top: 28px; 
    font-style: italic; 
}

.about-us {
    font-family: "Work Sans", sans-serif; 
    background-color: white;
    text-align: center;
    line-height: 4vh;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-top: 10vh;
}

h3 {
   text-align: center; 
}

h4 {
    margin-top: 10vh;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
}

#redirect-button {
    font-size: large;
    background-color: white;
    border-radius: 2vw;
    padding: 1vh 2vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}