
.contact-descrip,
.contact-form {
    font-family: "Work Sans", sans-serif; 
}

.contact-descrip {
    padding-top: 15vh;
}

#contact-title {
    font-size: 2.5vw;
    font-weight: bolder;
}

#contact-para {
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    line-height: 3vh;
    font-size: 1.3vw;
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 10vh;
}

.contact-form {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
}

.name-container {
    display: flex;
}

#first-field,
#last-field {
    display: flex;
}


input {
    border: black .12vw solid;
    border-radius: 2vw;
    font-size: 1.3vw;

}

#first-field input,
#last-field input {
    padding: 1vh 0.1vw;
    padding-left: 0.5vw;
    margin-right: 1vw;
}

#first-field input {
    margin-left: 1vw;
}

#email-input, 
#name-input {
    padding: 1vh 8.5vw;
    margin-bottom: 2vh;
}

#message-input {
    padding: 6vh 8.5vw;
}

#email-title {
    margin-top: 2vh;
    margin-left: 2vw;
}

label {
    margin-right: 15vw;
    font-size: 1.2vw;
}

#sbmt-btn {
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 1vw;
    border-radius: 1vw;
    padding: 1vh 1.5vw;
    background-color: white;
    border-color: black;
}

#sbmt-btn:hover {
    transition: 0.3s ease;
    background-color: #90a6c7;
}