
<div class = "nav-bar">
        <nav>
                <div class="nav-name">
                        <a id = "name">Abode</a>
                </div>
        
        <a id = "home-link"
        routerLink= "/home"
        routerLinkActive = "active-home"
        ariaCurrentWhenActive="page">
        Home 
        </a>
        
        <a id = "rooms-link" routerLink = "/rooms" routerLinkActive = "active-rooms" ariaCurrentWhenActive="page">Rooms</a>
            
        <a id = "about-link" routerLink = "/aboutus" routerLinkActive = "active-about-us" ariaCurrentWhenActive = "page">About Us</a>
            
        <a id = "contact-link" routerLink = "/contact" routerLinkActive = "active-contact" ariaCurrentWhenActive= "page">Contact Us</a> 
        </nav>
</div>




