<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans">

<header class="nav-bar">
    <a id = "name">Name</a>
        <nav class="group-link">
            <a id = "home-link" routerLink= "/home" routerLinkActive = "active-home" ariaCurrentWhenActive="page">Home</a>
        
            <a id = "rooms-link" routerLink = "/rooms" routerLinkActive = "active-rooms" ariaCurrentWhenActive="page">Rooms</a>
        
            <a id = "about-link" routerLink = "/aboutus" routerLinkActive = "active-about-us" ariaCurrentWhenActive = "page">About Us</a>
        
            <a id = "contact-link" routerLink = "/contact" routerLinkActive = "active-contact" ariaCurrentWhenActive= "page">Contact Us</a> 
        </nav>
</header>
<!-- <router-outlet></router-outlet> -->



