body {
    font-family: "Work Sans", sans-serif;
}

li {
    margin-bottom: 1.5vh;
    margin-left: -3vw;
}

.rooms-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    font-size: 3vw;
}

#rooms-title {
    margin-bottom: 3vh;
}

#rooms-descrip {
    margin-top: 2vh;
}

.amenities-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 7vh;
}

.room-features,
.room-services {
    font-size: 1.8vw;
}

#features-title,
#services-title {
    margin-bottom: 5vh;
}

#features-list,
#services-list {
    margin-top: 1vh;
    list-style-type: none;
}

.deluxe-descrip,
.grand-descrip,
.royal-descrip {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-right: 5vw;
    margin-left: 50vw;
}

.grand-descrip {
    margin-left: 5vw;
    margin-right: 50vw;
}

#deluxe-single-header,
#grand-double-header,
#royal-suite-header {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

#royal-suite-header {
    margin-top: 10vh;
}

#deluxe-single-para,
#grand-double-para,
#royal-suite-para {
    font-size: 1.5vw;
    line-height: 4vh;
}

#deluxe-single-image,
#royal-suite-image {
    margin-top: -65vh;
    margin-left: -17vw;
    height: 60%;
    width: 60%;
}

#grand-double-image {
    height: 70%;
    width: 70%;
    margin-left: 55vw;
    margin-top: -67vh;
}

.grand-double {
    overflow: hidden;
}



#royal-suite-image {
    margin-top: -75vh;
    margin-left: -5vw;
    margin-bottom: 20vh;
    height: 50%;
    width: 50%;
    overflow: hidden;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    margin-top: 1vh;
    font-size: 1.8vw;
    border: .2vw solid black;
    border-radius: 1.5vw;
    padding: 1.2vh 1.5vw;
}

button:hover {
    background-color: #90a6c7;
    transition: 0.3s ease;
    transform: scale(1.1);
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-20%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

.rooms-heading {
    animation: 1.5s ease 0s 1 slideInFromTop;
}

.room-features {
    animation: 1.2s ease 0s 1 slideInFromLeft;
}

.room-services {
    animation: 1s ease 0s 1 slideInFromLeft;
}




