<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans">

<body>
    <div class="rooms-view">
        <h2 id="rooms-title">Our Rooms</h2>
        <h6 id="rooms-descrip">View our elegantly designed guest rooms, each thoughtfully equipped with modern <br>anemities and exceptional service. </h6>
    </div>

    <div class="container">
        <div class="room-features">
            <h4 id="features-title">Enjoy these inclusive amenities:</h4>
            <ul id="features-list">
                <li>Complimentary Toiletries</li>
                <li>Nespresso Machine</li>
                <li>Premium-Quality Bathrobes</li>
                <li>Plush Slippers</li>
                <li>In-Room Minibar</li>
                <li>In-Room Safe</li>
            </ul>
        </div>

        <div class="room-services">
            <h4 id="services-title">Enjoy these daily services:</h4>
            <ul id="services-list">
                <li>24/7 Front-Desk And Concierge</li>
                <li>Complimentary Wi-Fi</li>
                <li>Swiss-inspired Breakfast</li>
                <li>Unlimited Fitness Center Access</li>
                <li>In-Hotel Café</li>
                <li>Late Night Room Service</li>
                <li>Activity Booking Assistance</li>
            </ul>
        </div>
    </div>
</body>

